<a href="https://colab.research.google.com/github/RaymondLeong94/Omdena-Project-2/blob/main/Model_draft.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
   #practice set from https://www.programiz.com/python-programming/class
   #create a class first
   class Room:
    length = 0.0
    breadth = 0.0

    #put your method (fancy word for fx)
    def calc_area(self):
      print (self.length*self.breadth)

In [ ]:
#create an object from the 
study = Room()

In [ ]:
study.length = 42.5
study.breadth = 30.8
study.calc_area()

1309.0

In [ ]:
class Animal:

    # attribute and method of the parent class
    name = ""
    
    def eat(self):
        print("I can eat")

# inherit from Animal
class Dog(Animal):

    # new method in subclass
    def display(self):
        # access name attribute of superclass using self
        print("My name is ", self.name)

# create an object of the subclass
labrador = Dog()

# access superclass attribute and method 
labrador.name = "Rohu"
labrador.eat()

# call subclass method 
labrador.display()

I can eat
My name is  Rohu

In [ ]:
class Polygon:
    def __init__(self, no_of_sides):
        self.n = no_of_sides
        self.sides = [0 for i in range(no_of_sides)]

    def inputSides(self):
        self.sides = [float(input("Enter side "+str(i+1)+" : ")) for i in range(self.n)]

    def dispSides(self):
        for i in range(self.n):
            print("Side",i+1,"is",self.sides[i])

In [ ]:
class Triangle(Polygon):
    def __init__(self):
        Polygon.__init__(self,3)

    def findArea(self):
        a, b, c = self.sides
        # calculate the semi-perimeter
        s = (a + b + c) / 2
        area = (s*(s-a)*(s-b)*(s-c)) ** 0.5
        print('The area of the triangle is %0.2f' %area)

In [ ]:
class Polygon:
    # Initializing the number of sides
    def __init__(self, no_of_sides):
        self.n = no_of_sides
        self.sides = [0 for i in range(no_of_sides)]

    def inputSides(self):
        self.sides = [float(input("Enter side "+str(i+1)+" : ")) for i in range(self.n)]

    # method to display the length of each side of the polygon
    def dispSides(self):
        for i in range(self.n):
            print("Side",i+1,"is",self.sides[i])

class Triangle(Polygon):
    # Initializing the number of sides of the triangle to 3 by 
    # calling the __init__ method of the Polygon class
    def __init__(self):
        Polygon.__init__(self,3)

    def findArea(self):
        a, b, c = self.sides

        # calculate the semi-perimeter
        s = (a + b + c) / 2

        # Using Heron's formula to calculate the area of the triangle
        area = (s*(s-a)*(s-b)*(s-c)) ** 0.5
        print('The area of the triangle is %0.2f' %area)

# Creating an instance of the Triangle class
t = Triangle()

# Prompting the user to enter the sides of the triangle
t.inputSides()

# Displaying the sides of the triangle
t.dispSides()

# Calculating and printing the area of the triangle
t.findArea()

Enter side 1 : 3
Enter side 2 : 4
Enter side 3 : 5
Side 1 is 3.0
Side 2 is 4.0
Side 3 is 5.0
The area of the triangle is 6.00

In [ ]:
class Mammal:
    def mammal_info(self):
        print("Mammals can give direct birth.")

class WingedAnimal:
    def winged_animal_info(self):
        print("Winged animals can flap.")

class Bat(Mammal, WingedAnimal):
    pass

# create an object of Bat class
b1 = Bat()

b1.mammal_info()
b1.winged_animal_info()

Mammals can give direct birth.
Winged animals can flap.

In [103]:
import pandas as pd
import numpy as np 
#create dataframe w/ random seed 42
np.random.seed(42)

# Create random values between -1 and 1
dataframe = pd.DataFrame(np.random.random((100000,4)), columns = ['Pillar 1', 'Pillar 2', 'Pillar 3' ,'Pillar 4'])

In [102]:
np.random.seed(43)

# Create random values between -1 and 1
dataframe2 = pd.DataFrame(np.random.random((100000,4)), columns = ['Pillar 1', 'Pillar 2', 'Pillar 3' ,'Pillar 4'])

In [61]:
dataframe2

       Pillar 1  PIllar 2  Pillar 3  Pillar 4
0      0.115055  0.609067  0.133391  0.240590
1      0.327139  0.859137  0.666090  0.541162
2      0.029014  0.733748  0.394950  0.802047
3      0.254421  0.056885  0.866649  0.221029
4      0.404989  0.316096  0.076663  0.843225
...         ...       ...       ...       ...
99995  0.882974  0.139677  0.460240  0.501242
99996  0.620354  0.013608  0.074063  0.272604
99997  0.071890  0.081605  0.836193  0.919686
99998  0.771958  0.136076  0.439670  0.761285
99999  0.332302  0.764573  0.774420  0.817518

[100000 rows x 4 columns]

In [64]:
df_standard = pd.DataFrame(0.5, index=range(100000), columns = ['Pillar 1', 'PIllar 2', 'Pillar 3' ,'Pillar 4'])

In [65]:
df_standard

       Pillar 1  PIllar 2  Pillar 3  Pillar 4
0           0.5       0.5       0.5       0.5
1           0.5       0.5       0.5       0.5
2           0.5       0.5       0.5       0.5
3           0.5       0.5       0.5       0.5
4           0.5       0.5       0.5       0.5
...         ...       ...       ...       ...
99995       0.5       0.5       0.5       0.5
99996       0.5       0.5       0.5       0.5
99997       0.5       0.5       0.5       0.5
99998       0.5       0.5       0.5       0.5
99999       0.5       0.5       0.5       0.5

[100000 rows x 4 columns]

In [104]:
import tensorflow as tf
from sklearn.preprocessing import MinMaxScaler


# Normalize the DataFrames using Min-Max scaling
scaler = MinMaxScaler()
df1_normalized = scaler.fit_transform(dataframe)
df2_normalized = scaler.transform(dataframe2)
df3_normalized = scaler.transform(df_standard)

# Define the neural network architecture
model = tf.keras.models.Sequential([
    tf.keras.layers.Dense(16, activation='relu', input_shape=(4,)),
    tf.keras.layers.Dense(16, activation='relu'),
    tf.keras.layers.Dense(4)
])

# Compile the model
model.compile(optimizer='adam', loss='mean_squared_error')

# Prepare the training data
train_X = df1_normalized
train_y = df3_normalized

# Train the neural network
model.fit(train_X, train_y, epochs=10, batch_size=32, validation_split=0.2)

# Apply the model to the second DataFrame
updated_values = model.predict(df2_normalized)
df2_updated = pd.DataFrame(updated_values, columns=['Pillar 1', 'Pillar 2', 'Pillar 3', 'Pillar 4'])

# Print the updated DataFrame
print(df2_updated)

ValueError: ignored

In [77]:
dataframe.loc[0:5]

   Pillar 1  PIllar 2  Pillar 3  Pillar 4
0  0.374540  0.950714  0.731994  0.598658
1  0.156019  0.155995  0.058084  0.866176
2  0.601115  0.708073  0.020584  0.969910
3  0.832443  0.212339  0.181825  0.183405
4  0.304242  0.524756  0.431945  0.291229
5  0.611853  0.139494  0.292145  0.366362

In [78]:
dataframe2.loc[0:5]

   Pillar 1  PIllar 2  Pillar 3  Pillar 4
0  0.115055  0.609067  0.133391  0.240590
1  0.327139  0.859137  0.666090  0.541162
2  0.029014  0.733748  0.394950  0.802047
3  0.254421  0.056885  0.866649  0.221029
4  0.404989  0.316096  0.076663  0.843225
5  0.848939  0.971465  0.385377  0.954488

In [82]:
df2_updated[0:5]

   Pillar_1  Pillar_2  Pillar_3  Pillar_4
0  0.500125  0.499481  0.499316  0.500070
1  0.500372  0.499643  0.499802  0.500013
2  0.500489  0.499605  0.499646  0.500091
3  0.500229  0.499942  0.500100  0.500078
4  0.500297  0.499837  0.500057  0.500029

In [105]:
import pandas as pd

def compare_rows(dataframe, dataframe2, df2_updated, num_rows):
    # Get the specified number of rows from the updated DataFrame
    rows_to_compare = df2_updated.head(num_rows)

    # Compare the values with the corresponding rows in the original DataFrame
    comparison_result = {}
    num_rows = 1
    for column in dataframe.columns:
        diff = rows_to_compare[column].values - dataframe.head(num_rows)[column].values
        comparison_result[column] = ['Up' if d > 0 else 'Down' for d in diff]

    # Create a DataFrame from the comparison result
    comparison_df = pd.DataFrame(comparison_result)

    return comparison_df

In [106]:
# Assuming dataframe and dataframe2 are defined

# Set the number of rows to compare
num_rows = 1

# Call the compare_rows function
comparison_result = compare_rows(dataframe, df_standard, df2_updated, num_rows)

# Print the comparison result
print(comparison_result)

  Pillar 1 Pillar 2 Pillar 3 Pillar 4
0       Up     Down     Down     Down

       Pillar 1  PIllar 2  Pillar 3  Pillar 4
0      0.374540  0.950714  0.731994  0.598658
1      0.156019  0.155995  0.058084  0.866176
2      0.601115  0.708073  0.020584  0.969910
3      0.832443  0.212339  0.181825  0.183405
4      0.304242  0.524756  0.431945  0.291229
...         ...       ...       ...       ...
99995  0.124332  0.929660  0.671360  0.134995
99996  0.525807  0.189319  0.278614  0.995026
99997  0.594345  0.839586  0.832040  0.126333
99998  0.680864  0.391624  0.744188  0.750148
99999  0.272528  0.575589  0.893340  0.502423

[100000 rows x 4 columns]